*{
  font-family: "Inter", sans-serif;
  background-color: #35136F;
}
.heading {
  color: #EBC801;
  font-size: 25;
  font-weight: bolder;
  margin-bottom: 20px;
}
.subheading {
  color: #EBC801;
  font-size: 18;
  font-weight: bold;
}
#loading-Icon {
    font-size: 50px;    
    font-weight: bold;         
    color: #444;                
    display: flex;              
    justify-content: center;
    align-items: center;
    height: 50vh;              
    background-color: rgba(0, 0, 0, 0.1); 
}

@keyframes rotate-hourglass {
    0% {
        transform: rotate(0deg);   
    }
    100% {
        transform: rotate(-360deg); 
    }
}

#loading-Icon{
    animation: rotate-hourglass 60s linear infinite; 
}
.sub-heading {
  color: #FFEBD7;
  font-size: 24;
  font-weight: bolder;
  line-height: 2rem;
}
.content {
  color: #FFEBD7;
  font-size: 15;
}
.setUp {
  color: #FFEBD7;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  gap: 20;
}
.nextBtn {
   background-color: #103D81;
   color: #FFEBD7;
   border-radius: 25px;
   width: 100px;
   height: 50px;
   border: none;
   opacity: 100;
   cursor: pointer;
}
label {
  color: #FFEBD7;
}
.search {
  color: #FFEBD7;
  width: 195px;
  height: 50px;
  border-radius: 10px;
  gap: 20;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
.table th, .table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.table th {
  background-color: #073273;
  text-align: left;
}