.health-Container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
}
.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.bleedingData {
  align-items: center;
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #FFEBD7;
  border-radius: 25px;
  width: 120px;
  height: 150px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  opacity: 100;
}
.metric-Image {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  border: white;
  border-radius: 20px;
}
.bleedingData:hover{
  background-color:#35136F ;
}
.bleeding-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.bloodTest-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7  
}
.clottingLevels-Container {
  display: block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7
}
.results-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.jointTracker-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.diabetes-Container{
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.diabetesResults-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.bloodPressure-Container{
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.bloodPressureResults-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.anxiety-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.depression-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.mentalHealthResults-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.ptsd-Container {
  display: inline-block;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
.bleed-Count {
  background-color: #103D81;
  display: block;
  margin: 20px;
  color: #FFEBD7;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  border: none;
  opacity: 100;
  cursor: pointer;
}
.clotting-Chart-Btn{
  background-color: #103D81;
  display: block;
  margin-left: 0;
  margin-top: 40px;
  color: #FFEBD7;
  border-radius: 25px;
  width: 250px;
  height: 50px;
  border: none;
  opacity: 100;
  cursor: pointer; 
}
.bloodTests-Btn {
  background-color: #103D81;
  display: block;
  margin-left: 0;
  margin-top: 40px;
  color: #FFEBD7;
  border-radius: 25px;
  width: 180px;
  height: 50px;
  border: none;
  opacity: 100;
  cursor: pointer
}
.bloodTests-Btn:hover{
  background-color: #09295a;
}
.emphasized-Text {
  color: #EEAF00;
}
.haemophiliaResults-Btn {
  background-color: #103D81;
  display: block;
  margin-left: 0;
  margin-top: 40px;
  color: #FFEBD7;
  border-radius: 25px;
  width: 180px;
  height: 50px;
  border: none;
  opacity: 100;
  cursor: pointer
}
.haemophiliaResults-Btn:hover {
  background-color: #09295a;
}
.result-cell.mild{
 color: #00FF00;
}
.result-cell.moderate {
  color: #F39B0E;
}
.result-cell.severe {
  color: #fbbf24;
}
.toggle-switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 30px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #fbbf24;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}
.slider::before{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: green;
}
input:checked + .slider::before{
  transform: translateX(22px);
}
.symptoms-Container {
  margin: 5px;
  padding: 10px;
}
.summary{
  margin: 20px;
}
/* @media screen and (max-width: 768px) {
  .health-Container,
  .bleeding-Container,
  .clottingLevels-Container,
  .bloodTest-Container,
  .anxiety-Container,
  .bloodPressure-Container,
  .bloodPressureResults-Container,
  .diabetes-Container,
  .diabetesResults-Container,
  .jointTracker-Container,
  .results-Container,
  .depression-Container,
  .ptsd-Container,
  .mentalHealthResults-Container{
    margin-left: 0;
    padding: 15px;
  }
} */
