.home-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: 290px;
  gap: 10px;
  color: #FFEBD7;
  margin-top: 5px;
}
.home-buttons {
 display: flex;
 gap: 20px;
 margin-top: 10px;
}
.home-heading {
 color: #EBC801;
 font-size: 25;
 font-weight: bolder;
}
.home-subheading {
 color: #EBC801;
 font-size: 18;
 font-weight: bold;
}
.home-text {
 color: #FFEBD7;
 font-size: 15; 
}
.heroImage {
 width: 350px;
 height: 350px;
 border-radius: 20px;
 align-self: left;
}
.messages {
 background-color: #103D81;
 margin: 5px;
 margin-top: 20px;
 color: #FFEBD7;
 border-radius: 25px;
 width: 190px;
 height: 50px;
 border: none;
 opacity: 90%;
 text-align: center;
 justify-content: center;
 align-items: center;
}
.messages:hover {
  background-color: #09295a;
}
.messages-Container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: 290px;
  gap: 10px;
  margin-top: 5px;
}
.messages-Holder {
  background-color: #103D81;
  border-radius: 15px;
  justify-content: center;
}
.messages-List {
  flex: 7;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #888 #103D81;
}
.messages-Text {
  color: #FFEBD7;
  background-color: #103D81;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.Text {
  color: #00FF00;
  font-size: 15;
  text-align: center;
  background-color: #103D81;
}
.doctor-Image{
  display: flex;
  width: 50px;
  height: 48px;
  border-radius: 25px;
  background-color: #103D81;
}

.appointments-Container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: 290px;
  gap: 10px;
  margin-top: 5px;
}
.messageBtn {
 display: block;
 justify-self: center;
 background-color: #072B62;
 justify-content: center;
 margin: 5px;
 margin-top: 10px;
 text-align: center;
 color: #FFEBD7;
 border-radius: 25px;
 width: 700px;
 height: 75px;
 border: none;
 z-index: 300;
 opacity: 70%;
 cursor: pointer;
}
.messageBtn:hover {
  background-color: #09295a;
  border: 2px solid #072B62;
}
.appointments {
 background-color: #103D81;
 margin: 5px;
 margin-top: 20px;
 align-self: center;
 color: #FFEBD7;
 border-radius: 25px;
 width: 190px;
 height: 50px;
 border: none;
 opacity: 90%;
 text-align: center;
 justify-content: center;
 align-items: center;
}
.appointments:hover {
  background-color: #09295a;
}
.loading-Container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #103D81;
  font-size: 2.0rem;
}

@media screen and (max-width: 768px) {
   .home-content,
   .messages-Container,
   .appointments-Container {
    margin-left: 0;
    margin-bottom: 80px;
    padding: 15px;
   }
    .messageBtn{
      width: 300px;
      height: 75px;
    }
   .home-heading {
    font-size: 20px;
    text-align: left;
   }

   .home-subheading {
    font-size: 16px;
    text-align: left;
   }

   .home-text {
    font-size: 14px;
    text-align: left;
   }
   .Text {
    flex-wrap: wrap;
    text-align: left;
   }

   .heroImage {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 20px;
   }

   .home-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
   }

   .messages,.appointments {
    width: 90%;
    max-width: 320px;
    height: 50px;
    font-size: 16px;
   }

   .loading-Container {
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
   }
   
}


