.notifications-Container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: 290px;
  gap: 20px;
  color: #FFEBD7;
}
@media screen  and (max-width: 768px) {
   .notifications-Container {
    margin-left: 0;
    padding: 10px;
    width: 100%;
    top: auto;
    left: 0;
    right: 0;
    min-height: auto;
    flex-wrap: wrap;
   }
}